Package: com.vxbakerxv.emojiskinprefs
Name: EmojiSkinPrefs
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: vXBaKeRXv
Author: vXBaKeRXv
Section: Tweaks
