Package: com.vxbakerxv.emojiskinprefs
Name: EmojiSkinPrefs
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.2), firmware (>= 8.3), com.ps.emojilibrary
Version: 0.0.1
Architecture: iphoneos-arm
Description: Defaults emoji skin tone
Maintainer: vXBaKeRXv
Author: vXBaKeRXv & PoomSmart
Section: Tweaks
