Package: com.vxbakerxv.emojiskinprefs
Name: EmojiSkinPrefs
Depends: mobilesubstrate, preferenceloader, firmware (>= 8.3), com.ps.emojilibrary (>= 1.6.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Defaults emoji skin tone.
Maintainer: PoomSmart
Author: PoomSmart & vXBaKeRXv
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/emojiskinprefs.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/emojiskinprefs.json
