<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>items</key>
	<array>
       <dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFColorCell</string>
				<key>label</key>
				<string>Color 1</string>
				<key>color_defaults</key>
				<string>com.vxbakerxv.magiclabels</string>
				 <key>color_key</key>
				<string>Color1</string>
				<key>title</key>
				<string></string>
				<key>color_fallback</key>
                <string>#a1a1a1</string>
				<key>usesRGB</key>
				<true/>
				<key>usesAlpha</key>
				<true/> 
				<key>icon</key>
			<string>Pages.png</string>
			 <key>color_postNotification</key>
            <string>com.vxbakerxv.magiclabelsPrefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Name➙</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1A</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1B</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1C</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1D</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1E</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1F</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1G</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1H</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1I</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1J</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1K</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1L</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1M</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1N</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1O</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.vxbakerxv.magicdotsPrefs/settingschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.vxbakerxv.magiclabels</string>
			<key>key</key>
			<string>CL1P</string>
			<key>label</key>
			<string>Label:</string>
			<key>placeholder</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
				<key>footerText</key>
			<string> </string>
		</dict>
	</array>
	<key>title</key>
	<string>_1_</string>
</dict>
</plist>
